<section class="customer-section">
    <div class="container">
        <img class="customer__pic"
            src="images/circle.jpg"
            alt="woman" 
            width="85" 
            height="85" />
        <figure class="opinion__card">
            <p class="opinion">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </figure>
        <ul class="ellipse">
            <li class="ellipse__item">
                <svg class="ellipse__item--icon" width="4" height="4">
                    <use href="images/icons.svg#icon-Ellipse-51"></use>
                </svg>
            </li>
            <li class="ellipse__item">
                <svg class="ellipse__item--icon" width="4" height="4">
                    <use href="images/icons.svg#icon-Ellipse-51"></use>
                </svg>
            </li>
            <li class="ellipse__item">
                <svg class="ellipse__item--icon" width="4" height="4">
                    <use href="images/icons.svg#icon-Ellipse-51"></use>
                </svg>
            </li>
        </ul>
        <p class="author">Emily, Los Angeles</p>
        <ul class="slider">
            <li class="slider__item">
                <svg class="slider__item--home" width="12" height="12">
                    <use href="images/icons.svg#icon-home"></use>
                </svg>
            </li>
            <li class="slider__item">
                <svg class="slider__item--icon" width="12" height="12">
                    <use href="images/icons.svg#icon-ellipse"></use>
                </svg>
            </li>
            <li class="slider__item">
                <svg class="slider__item--icon" width="12" height="12">
                    <use href="images/icons.svg#icon-ellipse"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>